.planet-content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: none;
}

.planet-content h1 {
  color: white;
  text-shadow: 0 5px 0 #58aed9;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.planet-content h1>span:not(.letter) {
  margin: 0;
  text-shadow: 0 3px 0 #58aed9;
  font-size: 2rem !important;
}

.planet-content main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70vw;
  max-width: 1400px;
  color: white;

  margin-top: 50px;
}

.planet-content>main>div>p {
  font-size: 1.2rem;
}

#links a {
  text-decoration: none;
}

#links {
  top: 55%;
  left: 45%;
}

#links img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

#links a:not(a:last-child) {
  margin-right: 30px;
}

#links main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#links main div {
  padding: 30px 40px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

#about-me {
  top: 37%;
  left: 45%;
}

#about-me a {
  color: white;
  text-decoration: underline;
  font-size: 1.2rem;
}

#about-me main {
  position: relative;
}

#about-me main p {
  margin-top: 10px;
  margin-bottom: 0;
}

#about-me main p:first-of-type {
  margin-top: 0;
}

#about-me main img {
  top: -35px;
  left: -85px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid white 2px;
  position: absolute;
}

#about-me main div {
  padding: 20px 25px;
}

#about-me main div p:first-child {
  margin-top: 0;
}

#about-me>div {
  position: absolute;
  bottom: -30%;
  left: 50%;
  color: white;
  display: flex;
}

#about-me>div p {
  margin-left: 20px;
}

#projects {
  width: 100vw;
  height: 100vh;

  pointer-events: none;
}

#projects main {
  width: 100%;
}

.project {
  pointer-events: all;
  font-family: sans-serif;

  width: 400px;
  height: 200px;

  position: absolute;

  left: calc(80% + var(--x));
  top: calc(50% + var(--y));

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.project:hover {
  background-color: rgba(28, 48, 65, 0.855);
  cursor: pointer;
}

.project-main-content {
  width: 100%;
}

.project-header {
  width: 100%;

  display: flex;
  align-items: center;
}

.project-header img {
  margin-top: 5px;
  margin-right: 15px;
}

.project-header a {
  text-decoration: none;
  color: #539BF5;
  font-weight: bold;
}

.project-header a:hover {
  text-decoration: underline;
}

.project-header p {
  margin: 2px 0 0 20px;
  padding: 3px 5px;
  color: lightgray;
  border: solid grey 1px;
  border-radius: 20px;
  font-size: 12px;
}

.project-main-content>p {
  color: rgb(205, 205, 205);
}

.project-language {
  display: flex;
  align-items: center;
}

.project-language p {
  margin: 0;
  color: rgb(228, 228, 228);
  font-size: 12px;
}

.project-language div {
  width: 8px;
  height: 8px;
  background-color: pink;
  border-radius: 100%;
  margin-right: 7px;
}

.project-soft-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-hard-tags {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-tag {
  padding: 5px 10px;
  margin: 0;
  margin-top: 4px;
  margin-right: 10px;
  border-radius: 7px;
  background: rgba(23, 36, 51, 0.53);
  color: #75B0F9;
  font-size: 13px;
}

.project-soft-tags > .project-tag {
  color: #d08c43;
}

.project-footer>p {
  font-size: 12px;
  margin-bottom: 0;
  color: white;
}
