body {
  position: static;
  
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(224deg, #060C18 0%, #061822 100%);
}

:root {
  font-family: 'Chakra Petch', sans-serif;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  text-align: center;
}

#title h1 {
  text-shadow: 0 5px 0 #58aed9;
  font-size: 4rem;
  margin: 0;
}

#title span, #title p {
  font-size: 1.5rem;
  text-shadow: 0 2px 0 #58aed9;
}

#title p {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 10px;
}

#title:hover p {
  opacity: 1;
}

.direction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;

  display: flex;
  flex-direction: column;
}

.direction h2 {
  min-width: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.direction p {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
  margin-top: 5px;
}

.direction span {
  margin-left: 2px;
  font-size: 0.5rem;
}

#dir-1 {
  top: 30%;
}

#dir-2 {
  left: 70%;
}

#dir-3 {
  top: 70%;
}

#dir-4 {
  left: 30%;
}
