#parallax-root {
    position: relative;
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#spacecraft {
    width: 15px;
    height: 15px;
    background: #fff;
    border: solid grey 2px;
    position: absolute;
    top: 50%;
    left: 50%;
}